$white: #fff;
$black: #000;
$background-color-lightgrey: #f2f2f2;
$background-color-bluegrey: #425362;
$backround-color-navbar: #222c32;
$title-color: #0bbbef;
$text-font-color: #212529;
$link-hover-color: #2e81c4;
$watergreen: #88cdd3;
