$white: #fff;
$black: #000;
$blue: #2e81c4;
$grey: #777;
$light-grey: #f2f2f2;
$dark-grey: #2b292e;
$super-dark-grey: #1c252b;
$another-grey: #212529;
$grey-blue: #445b69;
$indigo: #5080c1;
$blue0: #00bbff;
$blue1: #28bbea;
$blue2: #3dcadf;
$blue3: #2bc8e1;
$blue4: #46c3d7;
$blue5: #65ccd3;
$orange: #fe4902;
