$white: #fff;
$black: #000;
$blue: #2e81c4;
$grey: #777;
$dark-grey: #2b292e;
$super-dark-grey: #1c252b;
$grey-blue: #445b69;
$indigo: #5080c1;
$blue0: #00bbff;
$blue1: #00c4f0;
$blue2: #3dcadf;
$blue3: #2bc8e1;
$blue4: #46c3d7;
$blue5: #65ccd3;
$orange: #fe4902;

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: $super-dark-grey;

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  li,
  a {
    margin: 0;
    padding: 0;
  }

  li,
  ul,
  ol {
    list-style: none;
    text-decoration: none;
  }

  .light {
    font-weight: 300;
  }

  .medium {
    font-weight: 500;
  }

  .bold {
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  // header
  .header {
    max-height: 148px;
    top: 0;
    z-index: 99;
    background-color: $white;
    display: flex;
    flex-direction: column;

    .nav-contact {
      background-color: $super-dark-grey;
      padding: 8px 4%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .adress {
        display: flex;
        align-items: center;
      }

      .info-contact {
        display: flex;
        color: $blue1;
        align-items: center;
      }

      img {
        height: 22px;
        color: $white;
        padding-right: 10px;
      }

      p {
        font-size: 13px;
        color: $white;
      }

      .reseaux-sociaux {
        display: flex;
        color: $blue1;
        align-items: center;
        a {
          padding: 0 10px;
        }

        i:hover {
          opacity: 0.7;
        }
      }
    }
  }

  //nav
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .section1 {
    padding-top: 80px;
  }

  #navbar {
    z-index: 999;
    padding: 0 4%;
    display: flex;
    height: 100px;
    background-color: $white;
    .navbar-brand {
      width: 16%;
      min-width: 150px;
      max-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      img {
        width: 100%;
      }
      .logo-rm {
        width: 88%;
      }
    }
  }

  .navbar ul li {
    float: left;
    list-style-type: none;
  }

  .navbar ul li a {
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    display: block;
  }

  nav {
    li .active {
      text-decoration: none;
      font-weight: 600;
      color: $blue1;
    }

    .dropdown {
      position: static;
    }

    .dropdown-content {
      display: none;
      position: static;
      line-height: 50px;
      min-width: 160px;
      margin: 0 16px;
      z-index: 4;

      a {
        color: $super-dark-grey;
        display: contents;
      }
    }

    .dropdown:hover .dropdown-content {
      display: contents;
    }

    .newsblock {
      width: 500px;
      height: 500px;
      border: 5px solid white;
    }

    .dropborder {
      display: flex;
      width: 100%;
      left: 0;
      top: 100px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.96);
      padding: 0 56px;
      justify-content: flex-end;
      text-align: end;

      ul {
        display: flex;
      }
    }

    .navigation {
      padding: 0;
      justify-content: flex-end;
      height: inherit;
      align-items: baseline;

      a {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 10px;
        font-size: 14px;
      }
      a:hover {
        color: $blue1;
      }

      li {
        height: inherit;
      }

      .link {
        display: flex;
        align-items: center;
      }

      li:hover {
        text-decoration: none;
        color: $blue1;
        cursor: pointer;
        padding-bottom: 0;
      }
    }
  }

  //section
  .section1 {
    #carousel img {
      filter: brightness(80%);
    }
    .carousel-indicators {
      justify-content: space-around;
    }

    .try {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
          ellipse farthest-corner at center center,
          rgba(#1c252b, 0.261) 20%,
          #1c252b 100%
        )
        repeat scroll 0% 0%;
    }
    .carousel-caption {
      position: absolute;
      top: 40%;

      h3 {
        text-transform: uppercase;
        font-size: 40px;
      }
    }
  }

  //footer
  .footer-legal {
    display: flex;
    position: absolute;
    padding: 10px;
    height: 40px;
    background-color: $super-dark-grey;
    justify-content: space-between;
    align-items: center;
    bottom: 0;

    .first-div {
      display: flex;

      .logo-absoluce {
        width: 8%;
        min-width: 120px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        img {
          width: 100%;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        font-size: 12px;
        align-items: center;
        li {
          padding: 0 10px;
          a {
            text-decoration: none;
            color: $grey;
            width: 100%;
          }
        }
      }
    }

    p {
      font-size: 12px;
      color: $grey;
    }
  }
}
