@import "colors.scss";

// Navigation Variables
$break-small: 600px;
$break-medium: 950px;
$break-large: 1200px;
$nav-height: 100px;
$breakpoint: 799px;

// @media screen and (min-width: $break-large) {
//   float: right;
// }

// header
.header {
  max-height: 148px;
  top: 0;
  z-index: 99;
  display: flex;
  background-color: $backround-color-navbar;
  &--nav {
    margin: 0 6%;
    padding: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--adress > div {
      display: flex;
      align-items: center;
    }
    &--info-contact {
      display: flex;
      color: $title-color;
      align-items: center;
    }
    img {
      height: 22px;
      color: $white;
      padding-right: 10px;
      float: left;
    }
    p {
      font-size: 13px;
      color: $white;
    }
    &--reseaux-sociaux {
      display: flex;
      color: $title-color;
      align-items: center;
      height: 22px;
      .vimeo {
        margin: 0 20px;
      }
      i:hover {
        opacity: 0.7;
      }
    }
    @media only screen and (max-width: $break-medium) {
      .header {
        &--nav {
          &--adress {
            width: 100%;
            justify-content: space-between;
          }
          &--info-contact1 {
            display: none;
          }
          &--info-contact2 {
            justify-content: space-between;
          }
          &--reseaux-sociaux {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 599px) {
    display: none;
  }
}

//nav
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  .nav-mobile {
    top: 0;
  }
  ul {
    top: 100px;
  }
}

.sticky + .section1 {
  padding-top: 100px;
}

// Outer navigation wrapper
.navigation {
  z-index: 100;
  height: $nav-height;
  background: $white;
  display: flex;
  padding: 0 6%;
  justify-content: space-between;
  align-items: center;
}
.active {
  text-decoration: none;
  font-weight: 600;
  color: $link-hover-color;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  &--logo {
    width: 16%;
    min-width: 200px;
    display: flex;
    align-items: center;
    height: 100px;
    img {
      width: 100%;
    }
  }
}

// Navigation
nav {
  text-transform: uppercase;
  display: flex;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      z-index: 22;
      a,
      a:visited {
        display: flex;
        padding: 0 8px;
        background: $background-color-lightgrey;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          color: $link-hover-color;
          text-decoration: none;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 2;
  top: 60px;
}

.dropborder {
  display: flex;
  width: 100%;
  left: 0;
  position: absolute;
  background-color: $background-color-lightgrey;
  padding: 0 8%;
  justify-content: flex-end;
  text-align: end;
  ul {
    display: flex;
  }
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 1000px) {
  nav {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  ul {
    top: 100px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  ul {
    top: 138px;
  }
}

@media only screen and (max-width: 1000px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
    top: 0;
  }
  nav {
    width: 100%;
    ul {
      display: none;
      position: absolute;
      width: 100%;
      left: 0px;
      flex-direction: column;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (max-width: $break-small) {
  .nav-mobile {
    top: 0;
  }
}
@media screen and (min-width: $break-small) {
  .nav-mobile {
    top: 38px;
  }
}
@media only screen and (min-width: 800px) {
  nav {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .blockline {
    background: $white !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 12%;
  top: 37px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

//section 1
.section1 {
  img {
    filter: brightness(80%);
  }
  .carousel-caption {
    position: absolute;
    top: 30%;
    h1 {
      text-transform: uppercase;
      font-size: 3.2vw;
    }
  }
  .btn {
    opacity: 0.9;
    a {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
      background-color: $title-color;
      border: solid 1px $title-color !important;
    }
  }
}

// section 2
.section2 {
  padding: 5.6% 8%;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  .col {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      color: $title-color;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

// section 3
.section3 {
  background-color: $background-color-lightgrey;
  padding: 180px 0px 180px 0px;
  &--intro {
    font-size: 18px;
    background-color: $background-color-bluegrey;
    color: $white;
    padding: 30px 40% 20px 30px;
    width: 140%;
    position: relative;
    top: -60px;
    left: -15px;
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  &--text-bienvenue-rm {
    background-color: $white;
    display: flex;
    padding: 5%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    .services {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }
    h3 {
      color: $title-color;
      margin-bottom: 4%;
    }
    h3::before {
      content: "•";
      padding-right: 10px;
      color: $background-color-bluegrey;
    }
  }
  @media screen and (max-width: $break-small) {
    &--intro {
      width: 100%;
    }
  }
}

// section 4
.section4 {
  padding: 6% 6%;
  &--title-center {
    justify-content: center;
    color: $title-color;
  }
  &--logos-partenaires {
    justify-content: space-between;
    align-items: center;
  }
  &--picto {
    width: 100%;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    .logos {
      position: relative;
      display: inline-block;
      width: 160px;
      z-index: 49;
      padding: 10px;
      img {
        width: 100%;
      }
      .black {
        width: 100%;
        display: block;
        position: relative;
        transition: all 0.5s ease;
      }
      .blue {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
        display: none;
        transition: all 0.5s ease;
      }
      &:hover {
        .black {
          display: none;
          transition: all 0.5s ease;
        }
        .blue {
          display: block;
          position: relative;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

// section 5
.section5 {
  display: flex;
  justify-content: space-between;
  padding: 6% 6%;
  background-color: $backround-color-navbar;

  &--bureaux {
    color: $white;
    padding-right: 2%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--title {
      color: $title-color;
      margin-bottom: 3%;
    }
    &--title2 {
      font-size: 1.4rem;
      margin-bottom: 2.4%;
    }
    &--paragraph {
      height: 60%;
      p {
        line-height: 30px;
        a {
          color: $white;
          &:hover {
            color: $title-color;
            text-decoration: none;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
  @media screen and (max-width: $break-small) {
    iframe {
      display: none;
    }
  }
}

//footer
.footer {
  display: flex;
  justify-content: space-around;
  padding: 3% 6%;
  background-color: $background-color-bluegrey;
  color: $white;
  a {
    color: $white;
    transition: all 0.5s ease;
  }
}

//footer
.footer-legal {
  display: flex;
  position: inherit;
  padding: 10px 4%;
  height: 40px;
  background-color: $backround-color-navbar;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  &--first-div {
    display: flex;
    &--logo-absoluce {
      width: 8%;
      min-width: 120px;
      display: flex;
      align-items: center;
      margin-right: 20px;
      img {
        width: 100%;
      }
    }
    &--links {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      font-size: 12px;
      align-items: center;
      li {
        padding: 0 10px;
        a {
          text-decoration: none;
          color: $white;
          transition: all 0.5s ease;
          width: 100%;
          &:hover {
            color: $title-color;
          }
        }
      }
    }
  }
  p {
    font-size: 12px;
    color: #fff;
    width: inherit;
    text-align: right;
  }
  @media screen and (max-width: $break-small) {
    display: none;
  }
}
