@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #212529; }

body h1,
body h2,
body h3,
body h4,
body p,
body ul,
body li,
body a {
  margin: 0;
  padding: 0; }

body li,
body ul,
body ol {
  list-style: none;
  text-decoration: none; }

body .light {
  font-weight: 300; }

body .medium {
  font-weight: 500; }

body .bold {
  font-weight: 700; }

body a {
  text-decoration: none;
  color: #000; }

.header {
  max-height: 148px;
  top: 0;
  z-index: 99;
  background-color: #fff;
  display: flex;
  flex-direction: column; }

.header .nav {
  background-color: #1c252b;
  padding: 8px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header .nav--adress {
  display: flex;
  align-items: center; }

.header .nav--info-contact {
  display: flex;
  color: #28bbea;
  align-items: center; }

.header .nav img {
  height: 22px;
  color: #fff;
  padding-right: 10px; }

.header .nav p {
  font-size: 13px;
  color: #fff; }

.header .nav--reseaux-sociaux {
  display: flex;
  color: #28bbea;
  align-items: center; }

.header .nav--reseaux-sociaux .vimeo {
  margin: 0 20px; }

.header .nav--reseaux-sociaux i:hover {
  opacity: 0.7; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .section1 {
  padding-top: 100px; }

.navbar {
  z-index: 999;
  padding: 0 4%;
  display: flex;
  height: 100px;
  background-color: #fff; }

.navbar li {
  float: left;
  list-style-type: none; }

.navbar a {
  position: relative;
  transition: all 0.5s ease;
  display: block; }

.navbar .active {
  text-decoration: none;
  font-weight: 600;
  color: #28bbea; }

.navbar .dropdown {
  position: static; }

.navbar--brand {
  width: 16%;
  min-width: 150px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.navbar--brand img {
  width: 100%; }

.navbar--navigation {
  padding: 0;
  justify-content: flex-end;
  height: inherit;
  align-items: baseline; }

.navbar--navigation .dropborder {
  display: flex;
  width: 100%;
  left: 0;
  top: 100px;
  position: absolute;
  background-color: #f2f2f2;
  padding: 0 4%;
  justify-content: flex-end;
  text-align: end; }

.navbar--navigation .dropborder ul {
  display: flex; }

.navbar--navigation a {
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 14px;
  color: #212529; }

.navbar--navigation a:hover {
  color: #28bbea;
  text-decoration: none; }

.navbar--navigation li {
  height: inherit; }

.navbar--navigation li:hover {
  text-decoration: none;
  color: #28bbea;
  cursor: pointer;
  padding-bottom: 0; }

.navbar--navigation .link {
  display: flex;
  align-items: center; }

.navbar .dropdown-content {
  display: none;
  position: static;
  line-height: 50px;
  z-index: 4; }

.navbar .dropdown-content a {
  color: #212529;
  padding: 0 10px; }

.navbar .dropdown-content a:hover {
  color: #28bbea; }

.navbar .dropdown:hover .dropdown-content {
  display: flex; }

.section1 img {
  filter: brightness(80%); }

.section1--darker-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse farthest-corner at center center, rgba(28, 37, 43, 0) 60%, #1c252b 130%) repeat scroll 0% 0%; }

.section1 .carousel-caption {
  position: absolute;
  top: 30%; }

.section1 .carousel-caption h3 {
  text-transform: uppercase;
  font-size: 3.2vw; }

.section1 .btn {
  opacity: 0.9; }

.section1 .btn a {
  color: #fff;
  text-decoration: none; }

.section1 .btn:hover {
  opacity: 1;
  background-color: #28bbea;
  border: solid 1px #28bbea !important; }

.section2 {
  padding: 5.6% 4%;
  background-color: #fff;
  display: flex;
  justify-content: space-around; }

.section2 .col {
  display: flex;
  flex-direction: column;
  text-align: center; }

.section2 .col h2 {
  color: #28bbea;
  text-align: center; }

.section3 {
  background-color: #f2f2f2;
  padding: 180px 0px 180px 0px; }

.section3--intro {
  font-size: 18px;
  background-color: #445b69;
  color: #fff;
  padding: 30px 40% 20px 30px;
  width: 140%;
  position: relative;
  top: -60px;
  left: -15px; }

.section3--intro h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.section3--intro p {
  margin-top: 0;
  margin-bottom: 1rem; }

.section3--text-bienvenue-rm {
  background-color: #fff;
  display: flex;
  padding: 5%;
  background-color: #fff;
  display: flex;
  flex-direction: column; }

.section3--text-bienvenue-rm .services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; }

.section3--text-bienvenue-rm h3 {
  color: #28bbea;
  margin-bottom: 4%; }

.section3--text-bienvenue-rm h3::before {
  content: "•";
  padding-right: 10px;
  color: #445b69; }

.section4 {
  padding: 6% 4%; }

.section4--title-center {
  justify-content: center;
  color: #28bbea; }

.section4--logos-partenaires {
  justify-content: space-between;
  align-items: center; }

.section4--picto {
  width: 100%;
  padding: 1%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }

.section4--picto .logos {
  position: relative;
  display: inline-block;
  width: 160px;
  z-index: 49;
  padding: 10px; }

.section4--picto .logos img {
  width: 100%; }

.section4--picto .logos .black {
  width: 100%;
  display: block;
  position: relative; }

.section4--picto .logos .blue {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: none; }

.section4--picto .logos:hover .black {
  display: none; }

.section4--picto .logos:hover .blue {
  display: block;
  position: relative; }

.footer {
  display: flex; }

.footer-legal {
  display: flex;
  position: inherit;
  padding: 10px 4%;
  height: 40px;
  background-color: #1c252b;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  margin-top: 100px; }

.footer-legal--first-div {
  display: flex; }

.footer-legal--first-div--logo-absoluce {
  width: 8%;
  min-width: 120px;
  display: flex;
  align-items: center;
  margin-right: 20px; }

.footer-legal--first-div--logo-absoluce img {
  width: 100%; }

.footer-legal--first-div--links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  font-size: 12px;
  align-items: center; }

.footer-legal--first-div--links li {
  padding: 0 10px; }

.footer-legal--first-div--links li a {
  text-decoration: none;
  color: #777;
  width: 100%; }

.footer-legal p {
  font-size: 12px;
  color: #777; }
